body{
    background: white;
    color: black;
}
#logo {
    height: 3rem;
    width: 3rem;

}

#header {
    display: flex;
    align-items: center;
    padding-left: 31%;    

}
#search-container{
    text-align: center;
}
#searchInput{
    border-radius: 20px;

}
